@import "tailwindcss";

:root {
  --bg-dark: oklch(0.1 0 68);
  --bg: oklch(0.15 0 68);
  --bg-light: oklch(0.2 0 68);
  --text: oklch(0.96 0 68);
  --text-muted: oklch(0.76 0 68);
  --highlight: oklch(0.5 0 68);
  --border: oklch(0.4 0 68);
  --border-muted: oklch(0.3 0 68);
  --primary: oklch(0.76 0.1 68);
  --secondary: oklch(0.76 0.1 248);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}
